<?xml version="1.0"?>
<config>
    <modules>
        <PaketId_Booking>
            <version>1.0.0</version>
        </PaketId_Booking>
    </modules>
    <default>
        <paketid_booking>
            <api>
                <email>test@paket.id</email>
                <key>TEST-API-KEY</key>
                <debug>0</debug>
            </api>
        </paketid_booking>
    </default>
    <global>
        <blocks>
            <paketid_booking>
                <class>PaketId_Booking_Block</class>
            </paketid_booking>
        </blocks>
        <helpers>
            <paketid_booking>
                <class>PaketId_Booking_Helper</class>
            </paketid_booking>
        </helpers>
        <models>
            <paketid_booking>
                <class>PaketId_Booking_Model</class>
                <resourceModel>paketid_booking_resource</resourceModel>
            </paketid_booking>
            <paketid_booking_resource>
                <class>PaketId_Booking_Model_Resource</class>
                <entities>
                    <result>
                        <table>paketid_booking_result</table>
                    </result>
                </entities>
            </paketid_booking_resource>
        </models>
        <resources>
            <paketid_booking_setup>
                <setup>
                    <module>PaketId_Booking</module>
                </setup>
            </paketid_booking_setup>
        </resources>
        <events>
            <!-- <sales_order_place_after> -->
            <checkout_type_onepage_save_order_after>
                <observers>
                    <paketid_booking>
                        <type>singleton</type>
                        <class>PaketId_Booking_Model_Observer</class>
                        <method>processOrder</method>
                    </paketid_booking>
                </observers>
            <!-- </sales_order_place_after> -->
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <paketid_booking>
                    <file>paketid_booking.xml</file>
                </paketid_booking>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <paketid_booking>
                        <type>singleton</type>
                        <class>PaketId_Booking_Model_Adminhtml_Observer</class>
                        <method>getSalesOrderBookingInfo</method>
                    </paketid_booking>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
</config>
