<?xml version="1.0"?>
<!--
/**
 * Fram_EasyMegaMenu extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this @@package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category   	Fram
 * @@@package		Fram_EasyMegaMenu
 * @copyright  	Copyright (c) 2016
 * @license		http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <tabs>
        <paketid_configs translate="label" module="paketid_booking">
            <label>PaketId</label>
            <sort_order>1000</sort_order>
        </paketid_configs>
    </tabs> 
    <sections>
        <paketid_booking translate="label" module="paketid_booking">
            <label>Booking API Options</label>
            <tab>paketid_configs</tab>
            <frontend_type>select</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api translate="label">
                    <label>API</label>
                    <frontend_type>select</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>  
                    <fields>
                        <email>
                            <label>Api Email</label>
                            <frontend_type>text</frontend_type>
                            <validation>email</validation>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </email>
                        <key>
                            <label>Api Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </key>
                        <debug>
                            <label>Enable Debug log?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Enable this setting to see debug message in /var/log/paketid_booking.log]]></comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                               
                        </debug>
				    </fields>              
                </api>
            </groups>
        </paketid_booking>
    </sections>     
</config>
